body {
  background-color: #ddd;
}

.y-axis-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.x-axis-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.tooltip {
  font-family: sans-serif;
  position: absolute
}

.circle {
  fill: #69b3a2
}

.path {
  stroke-width: 1.5;
  stroke: #69b3a2;
}

.dashed {
  stroke-dasharray: 5, 5;
  stroke-width: 1.5;
  stroke: #69b3a2;
}

.legend-text {
  font-family: sans-serif;
  font-size: 15px;
}